*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a{
  color: $grey;
  &:hover {
    color: rgba($grey, .5);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  background: $white;
  background: $white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;

}

/* Layout */
.wrapper {
  height: calc(100% - #{$nav-height});
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.content {
  @include padding(1em);
  flex-basis: 0;
  flex-grow: 999;
}


/* Header, Logo, Hamburger Toggle */
.top-header {
  @include padding(null 1em);
  background-color: $grey;
  height: $nav-height;
  color: $nav-font-color;
  position: relative;

  @media screen and (min-width: $breakpoint) {
    // Media Query Here
  }
  
  .logo {
    font-size: 2rem;
    font-weight: 900;
    line-height: $nav-height;
    display: flex;
    justify-content: flex-end;
    @media screen and (min-width: $breakpoint) {
      justify-content: flex-start;
    }

    a {
      color: inherit;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $link-hover-color;
      }

      span {
        text-transform: lowercase;
      }
    }
  }
}


 
/* Utility Classes */
.nav-divider {
  width: 100%;
  height: 1px;
  background: rgba($grey, .25);
  @include margin(.25em null);
}

.span {
  grid-column: 1 / -1;
}
.badge{
  width: 20px;
  height: 20px;
   @include margin(null 13px null null);
   border-radius: 50%;
   background: green;
   color: $white;
   display: flex;
   justify-content: center;
   align-items: center;
 }