// Main Nav Wrapper
header {
 background-color: $nav-background;
 height: $nav-height;
 color: $nav-font-color;
 position: relative;

 @media screen and (min-width: $breakpoint) {
  display: grid;
  grid-template-columns: $nav-gtc;
  box-shadow: $box-shadow;
 }

 // Nav Logo
 .logo {
  font-size: 2rem;
  font-weight: 900;
  line-height: $nav-height;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $breakpoint) {
   grid-column: 2 / 3;
   display: block;
   @include padding(0 null null 1rem);
  }

  a {
   text-decoration: none;
   color: $nav-font-color;
   text-transform: uppercase;

   &:hover {
    color: $link-hover-color;
   }

   span {
    text-transform: lowercase;
    font-size: .8em;
   }
  }
 }

 // Nav Toggle (using checkbox :checked)
 .nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;

  &:focus~.nav-toggle-label {
   outline: 4px solid lighten($nav-background, 3%);
   box-sizing: border-box;
  }
 }

 // Nav Toggle Label & hamburger icon w/animation
 .nav-toggle-label {
  cursor: pointer;
  height: $nav-height;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 1rem;

  @media screen and (min-width: $breakpoint) {
   display: none;
  }

  span,
  span::before,
  span::after {
   width: 2rem;
   height: 4px;
   border-radius: $border-radius;
   background: $nav-font-color;
  }

  span::before,
  span::after {
   content: '';
   position: absolute;
   transform: rotate(0deg);
   transition: transform 125ms ease;
  }

  span::before {
   top: 23px;
  }

  span::after {
   bottom: 23px;
  }
 }

 // Nav
 .navbar {
  position: absolute;
  top: 100%;
  background: $nav-background;
  width: 100%;
  box-shadow: $box-shadow;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 125ms ease-in-out;

  @media screen and (min-width: $breakpoint){
   // Reset Navbar from responsive state
   position: relative;
   transform: scale(1,1);
   background: none;
   top: initial;
   left: initial;
   box-shadow: none;

   // Layout for non-responsive
   grid-column: 3 / 4;
   display: flex;
   justify-content: flex-end;
  }

  ul {
   @media screen and (min-width: $breakpoint) {
    display: flex;
   }

   .active {
    @media screen and (min-width: $breakpoint) {
     color: $link-hover-color;
     background: $black;
    }
   }
  }
  .nav-link {
   line-height: $nav-height;
  }
  a{
   width: 100%;
   height: $nav-height;
   cursor: pointer;
   text-transform: uppercase;
   text-decoration: none;
   color: $nav-font-color;
   opacity: 0;
   transition: opacity 125ms ease-in-out 125ms;

   display: flex;
   justify-content: center;

   @media screen and (min-width: $breakpoint){
    opacity: 1;
    @include margin(null 1rem null null);
   }
   &:hover{
    color: $link-hover-color;
    background: $black;
   }
  }
 }

 // Nav Toggle show/hide menu Animate Hamburger
 .nav-toggle:checked~.navbar {
  transform: scale(1, 1);
 }

 .nav-toggle:checked~.navbar a {
  opacity: 1;
 }

 .nav-toggle:checked~.nav-toggle-label span {
  background: transparent;
 }

 .nav-toggle:checked~.nav-toggle-label span:before {
  transform: rotate(45deg);
  top: 36px;
 }

 .nav-toggle:checked~.nav-toggle-label span:after {
  transform: rotate(-45deg);
  bottom: 30px;
 }

 /* end header */
}