// color theme

$black: #4a544a;
$dark-green: #849d6a;
$white: #fcfaf1;
$dark-orange: #ff974c;
$light-orange: #ffd96a;

// Navigation Variables
$breakpoint: 768px;
$nav-height: 60px;
$nav-background: $dark-green;
$nav-font-color: $dark-orange;
$link-hover-color: $dark-orange;

$box-shadow: 0 2px 2px rgba($black, .5);
$border-radius: 7px;
