// color theme
$black: hsl(0, 41%, 23%);
$white: hsl(0, 0%, 100%);
$off-white: hsl(210, 22%, 96%);
$dark-grey: hsl(0, 0%, 25%);
$dark-green: hsl(89, 52%, 24%);
$dark-orange: hsl(25, 84%, 51%);
$light-orange: hsl(36, 100%, 71%);
$blue-light: rgba(92, 106, 196, 0.12);


// Navigation Variables
$breakpoint: 768px;
$nav-height: 55px;
$nav-width: 250px;
$nav-font-color: $light-orange;
$link-hover-color: $dark-orange;

$box-shadow: 0 2px 2px rgba($black, .5);
$box-shadow-1: 0 0 0 1px rgba(63, 63, 68, .05),
0 1px 3px 0 rgba(63, 63, 68, .15);
$border-radius: 7px;

// Text Colors

$clr-h: $dark-orange;
$clr-text: $dark-grey;
$clr-accent: $dark-orange;

$txt-light: $white;
$txt-dark: $dark-grey;
$txt-accent: $dark-orange;

$text-warning: gold;
$text-danger: red;
$text-success: green;

// Background Colors

$bg-dark: $black;
$bg-light: $white;
$bg-accent: $off-white;
$bg-blue: $blue-light;


// Default color Styles
$badge-notify: $dark-green;
$badge-warning: $dark-orange;
$clr-border: $blue-light;