:root {
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 900px) {
  :root {
    font-size: calc( 14px + (16 - 14) * ( (100vw - 768px) / ( 900 - 768) ));
  }
}

@media (min-width: 900px) {
  :root {
    font-size: 16px;
  }
}

:root {
  --font-family: system-ui, sans-serif;
  --font-family--heading: var(--font-family);
  --font-weight--thin: 100;
  --font-weight--extra-light: 200;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--medium: 500;
  --font-weight--semi-bold: 600;
  --font-weight--bold: 700;
  --font-weight--extra-bold: 800;
  --font-weight--black: 900;
  --line-height: 1.5;
  --line-height--heading: 1.2;
  --border-radius: 0.1875rem;
  --spacing: 1.5rem;
  --spacing--small: 0.75rem;
  --border-width: 0.0625rem;
  --border: var(--border-width) solid currentColor;
  --focus-outline-width: 0.1875rem;
  --focus-outline-offset: 0.125rem;
  --focus-outline: var(--focus-outline-width) solid #1565c0;
  --duration: 150ms;
  --timing: ease;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: var(--border-radius);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-base);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: var(--spacing--small) var(--spacing);
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color var(--duration) var(--timing);
  transition: background-color var(--duration) var(--timing);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  background-color: rgba(90, 104, 196, 0.15);
}

button:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

:root {
  --form-box-shadow: inset 0 --border-width 0.1875rem rgba(#000, 0.06);
  --form-box-shadow-focus: var(--form-box-shadow), 0 0 0.3125rem #1565c0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 400;
  margin-bottom: var(--spacing--small);
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: var(--spacing--small);
}

input,
select,
textarea {
  display: block;
  font-family: var(--font-family);
  font-size: 1rem;
}

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  -webkit-box-shadow: var(--form-box-shadow);
          box-shadow: var(--form-box-shadow);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: var(--spacing--small);
  padding: calc(var(--spacing) / 3);
  -webkit-transition: border-color var(--duration) var(--timing);
  transition: border-color var(--duration) var(--timing);
  width: 100%;
}

[type="color"]:focus,
[type="date"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
input:not([type]):focus,
textarea:focus {
  -webkit-box-shadow: var(--form-box-shadow-focus);
          box-shadow: var(--form-box-shadow-focus);
}

[type="color"]:disabled,
[type="date"]:disabled,
[type="datetime"]:disabled,
[type="datetime-local"]:disabled,
[type="email"]:disabled,
[type="month"]:disabled,
[type="number"]:disabled,
[type="password"]:disabled,
[type="search"]:disabled,
[type="tel"]:disabled,
[type="text"]:disabled,
[type="time"]:disabled,
[type="url"]:disabled,
[type="week"]:disabled,
input:not([type]):disabled,
textarea:disabled {
  cursor: not-allowed;
}

[type="color"]:disabled:hover,
[type="date"]:disabled:hover,
[type="datetime"]:disabled:hover,
[type="datetime-local"]:disabled:hover,
[type="email"]:disabled:hover,
[type="month"]:disabled:hover,
[type="number"]:disabled:hover,
[type="password"]:disabled:hover,
[type="search"]:disabled:hover,
[type="tel"]:disabled:hover,
[type="text"]:disabled:hover,
[type="time"]:disabled:hover,
[type="url"]:disabled:hover,
[type="week"]:disabled:hover,
input:not([type]):disabled:hover,
textarea:disabled:hover {
  border: var(--border);
}

[type="color"]::-webkit-input-placeholder,
[type="date"]::-webkit-input-placeholder,
[type="datetime"]::-webkit-input-placeholder,
[type="datetime-local"]::-webkit-input-placeholder,
[type="email"]::-webkit-input-placeholder,
[type="month"]::-webkit-input-placeholder,
[type="number"]::-webkit-input-placeholder,
[type="password"]::-webkit-input-placeholder,
[type="search"]::-webkit-input-placeholder,
[type="tel"]::-webkit-input-placeholder,
[type="text"]::-webkit-input-placeholder,
[type="time"]::-webkit-input-placeholder,
[type="url"]::-webkit-input-placeholder,
[type="week"]::-webkit-input-placeholder,
input:not([type])::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #333;
  opacity: 0.25;
}

[type="color"]:-ms-input-placeholder,
[type="date"]:-ms-input-placeholder,
[type="datetime"]:-ms-input-placeholder,
[type="datetime-local"]:-ms-input-placeholder,
[type="email"]:-ms-input-placeholder,
[type="month"]:-ms-input-placeholder,
[type="number"]:-ms-input-placeholder,
[type="password"]:-ms-input-placeholder,
[type="search"]:-ms-input-placeholder,
[type="tel"]:-ms-input-placeholder,
[type="text"]:-ms-input-placeholder,
[type="time"]:-ms-input-placeholder,
[type="url"]:-ms-input-placeholder,
[type="week"]:-ms-input-placeholder,
input:not([type]):-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #333;
  opacity: 0.25;
}

[type="color"]::-ms-input-placeholder,
[type="date"]::-ms-input-placeholder,
[type="datetime"]::-ms-input-placeholder,
[type="datetime-local"]::-ms-input-placeholder,
[type="email"]::-ms-input-placeholder,
[type="month"]::-ms-input-placeholder,
[type="number"]::-ms-input-placeholder,
[type="password"]::-ms-input-placeholder,
[type="search"]::-ms-input-placeholder,
[type="tel"]::-ms-input-placeholder,
[type="text"]::-ms-input-placeholder,
[type="time"]::-ms-input-placeholder,
[type="url"]::-ms-input-placeholder,
[type="week"]::-ms-input-placeholder,
input:not([type])::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #333;
  opacity: 0.25;
}

[type="color"]::placeholder,
[type="date"]::placeholder,
[type="datetime"]::placeholder,
[type="datetime-local"]::placeholder,
[type="email"]::placeholder,
[type="month"]::placeholder,
[type="number"]::placeholder,
[type="password"]::placeholder,
[type="search"]::placeholder,
[type="tel"]::placeholder,
[type="text"]::placeholder,
[type="time"]::placeholder,
[type="url"]::placeholder,
[type="week"]::placeholder,
input:not([type])::placeholder,
textarea::placeholder {
  color: #333;
  opacity: 0.25;
}

[type="search"] {
  -webkit-appearance: textfield;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: var(--spacing--small);
}

[type="file"] {
  margin-bottom: var(--spacing--small);
  width: 100%;
}

select {
  margin-bottom: var(--spacing--small);
  width: 100%;
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

html {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: var(--spacing) 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: var(--line-height--heading);
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: var(--border);
}

th {
  font-weight: 600;
}

th,
td {
  padding: var(--spacing--small) var(--spacing--small) var(--spacing--small) 0;
}

html {
  color: #333;
  font-family: var(--font-family);
  font-size: 100%;
  line-height: var(--line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family--heading);
  font-size: 1.25rem;
  line-height: var(--line-height--heading);
  margin: 0 0 var(--spacing--small);
}

p {
  margin: 0 0 var(--spacing--small);
}

a {
  color: #1565c0;
  text-decoration-skip-ink: auto;
  -webkit-transition: color var(--duration) var(--timing);
  transition: color var(--duration) var(--timing);
}

a:hover {
  color: rgba(90, 104, 196, 0.15);
}

a:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

hr {
  border-bottom: var(--border);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: var(--spacing) 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background: white;
  background: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
}

/* Html Element Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #eb7119;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #404040;
}

a:focus {
  outline: none;
}

a:hover {
  color: rgba(64, 64, 64, 0.75);
}

::-moz-selection {
  background-color: #eb7119;
  color: white;
}

::selection {
  background-color: #eb7119;
  color: white;
}

/* Utility Classes */
.nav-divider {
  width: 100%;
  height: 1px;
  background: rgba(64, 64, 64, 0.25);
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.span {
  grid-column: 1 / -1;
}

.badge {
  width: 100%;
  height: 50%;
  margin-right: 13px;
  border-radius: 7px;
  background: #3e5d1d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.published {
  color: green;
  text-transform: capitalize;
}

.draft {
  color: grey;
  text-transform: capitalize;
}

.pending {
  color: gold;
  text-transform: capitalize;
}

.d-none {
  display: none;
}

/* Layout */
/* Header, Logo, Hamburger Toggle */
.top-header {
  padding-right: 1em;
  padding-left: 1em;
  background-color: #404040;
  height: 50px;
  color: #ffc46b;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 120;
  -webkit-box-shadow: 0 2px 2px rgba(83, 35, 35, 0.5);
          box-shadow: 0 2px 2px rgba(83, 35, 35, 0.5);
}

.top-header .logo {
  font-size: 2rem;
  font-weight: 900;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-header .logo a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.top-header .logo a:hover {
  color: #eb7119;
}

.top-header .logo a span {
  text-transform: lowercase;
}

.wrapper {
  min-height: 100%;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding-top: 50px;
    padding-left: 200px;
  }
}

.wrapper .sidebar {
  min-width: 200px;
  height: calc(100vh - 50px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #f3f5f7;
  font-size: .875rem;
  font-weight: 500;
  border-right: solid rgba(90, 104, 196, 0.15) 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50px;
  z-index: 119;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .wrapper .sidebar {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    display: block;
    position: fixed;
    height: calc(100vh - 50px);
  }
}

.wrapper .main-content {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 999;
      -ms-flex-positive: 999;
          flex-grow: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
}

.wrapper .content-header {
  background: #f3f5f7;
  min-height: 50px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0px rgba(63, 63, 68, 0.15);
          box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0px rgba(63, 63, 68, 0.15);
  padding-right: 1em;
  padding-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 100;
  top: 50px;
}

.wrapper .content-header .breadcrumb {
  font-weight: 300;
  font-size: 0.75rem;
}

.wrapper .content-header .breadcrumb a {
  color: #ffc46b;
}

.wrapper .content-header .breadcrumb a:hover {
  color: #eb7119;
}

.wrapper .content-header .section-title {
  margin: 0;
  padding: 0 0 0 1em;
  font-weight: 900;
  font-size: 2rem;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.wrapper .content-header .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: flex-end;
}

.wrapper .content-header .btn-group * + * {
  margin-left: 1em;
}

.wrapper .content {
  padding: calc(50px + 1em) 1em 1em;
}

.filter-block {
  margin-bottom: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: .5em 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-dropdown-block {
  position: relative;
}

.sidebar .side-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.sidebar .side-nav__link {
  height: 50px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr 20px;
      grid-template-columns: 20px 1fr 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: .25em;
          column-gap: .25em;
}

.sidebar .side-nav__link:hover {
  background-color: rgba(90, 104, 196, 0.12);
}

.sidebar .side-nav__link a {
  padding: 0.5em;
  line-height: 1.7rem;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out 125ms;
  transition: opacity 250ms ease-in-out 125ms;
}

@media screen and (min-width: 768px) {
  .sidebar .side-nav__link a {
    opacity: 1;
  }
}

.sidebar .side-nav__link a:hover {
  color: #eb7119;
}

.sidebar .side-nav .active {
  background-color: rgba(90, 104, 196, 0.5);
}

.sidebar .side-nav .active:hover {
  cursor: default;
}

.sidebar .side-nav .active:hover a {
  color: #404040;
}

.sidebar .fas {
  color: rgba(64, 64, 64, 0.35);
  margin-right: 1rem;
  margin-left: 0.25em;
  font-size: 1rem;
}

.nav-toggle:checked ~ .sidebar {
  display: block;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.nav-toggle:checked ~ .sidebar a {
  opacity: 1;
}

/* Button Styles */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: var(--border-radius);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-base);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: var(--spacing--small) var(--spacing);
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color var(--duration) var(--timing);
  transition: background-color var(--duration) var(--timing);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  background-color: rgba(90, 104, 196, 0.15);
}

button:focus,
[type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn {
  width: 100%;
  background: darkmagenta;
  color: white;
  border-radius: 7px;
}

.btn:hover {
  background: 25deg;
  cursor: pointer;
}

.btn-sm {
  padding: 0.5em 0.75em;
  font-size: .875rem;
}

.btn-dropdown {
  padding: 1em;
  background: rgba(90, 104, 196, 0.15);
  color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
}

.btn-add {
  background: #eb7119;
  color: white;
}

.btn-publish {
  background: green !important;
}

.btn-save {
  background: blue !important;
}

.btn-delete {
  background: red !important;
}

.btn-cancel {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: .875rem;
  color: #ffc46b;
  background: transparent;
}

.btn-cancel:hover {
  color: #eb7119;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  cursor: pointer;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 1rem;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
    z-index: 0;
  }
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  width: 2rem;
  height: 4px;
  border-radius: 7px;
  background: #ffc46b;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 125ms ease;
  transition: -webkit-transform 125ms ease;
  transition: transform 125ms ease;
  transition: transform 125ms ease, -webkit-transform 125ms ease;
}

.nav-toggle-label span::before {
  top: 35px;
}

.nav-toggle-label span::after {
  bottom: 35px;
}

.nav-toggle:checked ~ .nav-toggle-label span {
  background: transparent;
}

.nav-toggle:checked ~ .nav-toggle-label span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 26px;
}

.nav-toggle:checked ~ .nav-toggle-label span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 25px;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  outline: none;
}

input[type="text"],
[type="textarea"] {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: none;
  letter-spacing: normal;
  position: relative;
  z-index: 20;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  width: 100%;
  min-width: 0;
  min-height: 3.6rem;
  margin: 0;
  padding: .5rem 1.2rem;
  padding-left: 1.2rem;
  background: none;
  border: .1rem solid transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-block {
  margin: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 2px rgba(90, 104, 196, 0.15);
  grid-column: 1 / -1;
}

@media screen and (min-width: 768px) {
  .search-block {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  border: none;
  color: #808080;
}

.search-icon {
  border: solid 1px black;
  border: none;
  padding: 7px;
  color: #808080;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.form-group-block {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  background: #f3f5f7;
}

.btn-dropdown-block:hover > .form-group-block {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.form-group {
  padding: 1em;
  width: 100%;
}

.form-group label {
  width: 100%;
  height: 100%;
}

.form-group label:hover,
.form-group:hover {
  cursor: pointer;
}

.form-group-block {
  background: #f3f5f7;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0px 1px 3px 0px rgba(63, 63, 68, 0.15);
          box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0px 1px 3px 0px rgba(63, 63, 68, 0.15);
  position: absolute;
  top: 100%;
  width: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transition: -webkit-transform 250ms ease-in-out 200ms;
  transition: -webkit-transform 250ms ease-in-out 200ms;
  transition: transform 250ms ease-in-out 200ms;
  transition: transform 250ms ease-in-out 200ms, -webkit-transform 250ms ease-in-out 200ms;
  z-index: 100;
}

.btn-dropdown-block:hover > .form-group-block {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

label {
  margin: 0;
  padding: 0;
}

.form-group {
  padding: 1em;
  width: 100%;
}

.form-group:hover {
  background: rgba(90, 104, 196, 0.15);
}

.form-group label {
  width: 100%;
  height: 100%;
  font-size: .875rem;
}

.form-group:hover {
  cursor: pointer;
}

input[type="radio"] {
  position: absolute;
  top: -999px !important;
  left: -999px !important;
}

input:focus {
  outline: none;
}

.content-cards {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2em;
}

.content-card {
  padding: 0.5em;
  border-radius: 7px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 0.25em 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-card:hover {
  background: #f3f5f7;
}

.content-card p {
  grid-column: 2 / -1;
  font-size: 0.75rem;
  color: rgba(64, 64, 64, 0.75);
}

.content-card .card-icon {
  font-size: 1.3rem;
  color: rgba(64, 64, 64, 0.5);
}

.content-card .title-text {
  margin: 0;
}

.media-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1em;
}

.media-wrapper .media {
  padding: 0.25em;
  background: #f3f5f7;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0px rgba(63, 63, 68, 0.15);
          box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0px rgba(63, 63, 68, 0.15);
}

.media-wrapper .mediaForm {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto (1fr)[2] auto;
      grid-template-columns: auto repeat(2, 1fr) auto;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media-wrapper .mediaImageThumb {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.media-wrapper .mediaPopup {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.media-wrapper .mediaPopup .mediaPopupImg {
  visibility: hidden;
  width: 25vw;
  height: 100%;
  border-radius: 7px;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 2px 2px rgba(83, 35, 35, 0.5);
          box-shadow: 0 2px 2px rgba(83, 35, 35, 0.5);
  -o-object-fit: cover;
     object-fit: cover;
  /* Position the mediaPopup */
  position: absolute;
  z-index: 100;
  left: 110%;
  /* Set transition */
  opacity: 0;
  -webkit-transition: opacity 350ms ease-in-out 250ms;
  transition: opacity 350ms ease-in-out 250ms;
}

.media-wrapper .mediaPopup:hover .mediaPopupImg {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}

.media-wrapper .mediaBlock {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.media-wrapper .mediaCaption input {
  margin: 0;
  background: white;
  border: solid 2px rgba(90, 104, 196, 0.15);
  border-radius: 7px;
}

.media-wrapper .mediaFeatured .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-wrapper .mediaCategories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(110px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  align-self: flex-start;
  -webkit-column-gap: .5em;
          column-gap: .5em;
}

.media-wrapper .mediaCategories .form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.media-wrapper .mediaControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  border-left: solid 1px rgba(90, 104, 196, 0.15);
  padding: 0.25em;
}

.media-wrapper .mediaControls * + * {
  margin-top: 0.25em;
}

.content-block {
  margin: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
}

.content-block .form-group {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0px rgba(63, 63, 68, 0.15);
          box-shadow: 0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0px rgba(63, 63, 68, 0.15);
}

.content-block .form-group__title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content-block .form-group__title-wrapper label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.content-block .form-group__title-wrapper .badge {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  padding: 0.125em 0.25em;
}

/* Page Content Styles */
.page-list-item,
.page-list-item-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 200px 150px 1fr;
      grid-template-columns: 80px 200px 150px 1fr;
  gap: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  border-top: solid 1px rgba(90, 104, 196, 0.15);
}

.page-list-item:hover,
.page-list-item-header:hover {
  background: rgba(90, 104, 196, 0.15);
}

.page-list-item__heading,
.page-list-item-header__heading {
  font-size: 1.1rem;
}

.page-list-item:last-child,
.page-list-item-header:last-child {
  border-bottom: solid 1px rgba(90, 104, 196, 0.15);
}

.page-list-item__media,
.page-list-item-header__media {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.5em;
}

.add-user {
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.pageEdit-content-block {
  margin-bottom: 2rem;
}

.page-list-item-header {
  height: 40px;
  margin-top: 1em;
}

.page-list-item-header:hover {
  background: white;
}
/*# sourceMappingURL=main.css.map */