/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
  outline: none;
}
input[type="text"],
[type="textarea"] {
 font-size: 1.6rem;
 font-weight: 400;
 line-height: 2.4rem;
 text-transform: none;
 letter-spacing: normal;
 position: relative;
 z-index: 20;
 display: block;
 flex: 1 1;
 width: 100%;
 min-width: 0;
 min-height: 3.6rem;
 margin: 0;
 padding: .5rem 1.2rem;
 padding-left: 1.2rem;
 background: none;
 border: .1rem solid transparent;
 font-family: inherit;
 font-size: inherit;
 font-weight: inherit;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
}

// Search input 

.search-block {
 margin: 0;
 width: 100%;
 // max-width: 500px;
 display: grid;
 grid-template-columns: auto 1fr;
 align-items: center;
 border: solid 2px $bg-blue;
 // border-radius: 7px;
}
.search {
 box-sizing: border-box;
 margin: 0;
 border: none;
 color: #808080;
}
.search-icon {
  border: solid 1px black;

 border: none;
 padding: 7px;
 color: #808080;

 border-bottom-left-radius:  7px;
 border-top-left-radius:  7px;
 
}

// Dropdown Hover Buttons

.form-group-block {
 transform-origin: top;
 transform: scale(1, 0);
 transition: transform 250ms ease;
 background: $bg-accent;
}

.btn-dropdown-block:hover>.form-group-block {
 cursor: pointer;
 transform: scale(1);
}

.form-group {
 padding: 1em;
 width: 100%;
}

.form-group label {
 width: 100%;
 height: 100%;
}

.form-group label:hover,
.form-group:hover {
 cursor: pointer;
 // background: $bg-blue;
}

.form-group-block {
 background: $bg-accent;
 box-shadow: $box-shadow-2;
 position: absolute;
 top: 100%;
 width: 100%;
 transform-origin: top;
 transform: scale(1, 0);
 transition: transform 250ms ease-in-out 200ms;
 z-index: 100;
}

.btn-dropdown-block:hover>.form-group-block {
 cursor: pointer;
 transform: scale(1);

}

label {
 margin: 0;
 padding: 0;
}

.form-group {
 padding: 1em;
 width: 100%;
 &:hover{
  background: $bg-blue;
 }
}

.form-group label {
 width: 100%;
 height: 100%;
 font-size: .875rem;

}

.form-group:hover {
 cursor: pointer;
 // background: $bg-blue;

}


// Hide Radio Buttons
input[type="radio"] {
 position: absolute;
 top: -999px !important;
 left: -999px !important;
}

input:focus{
outline: none;
}
